@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --blue:#21aba5;
    --dark-blue:#1d566e;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s cubic-bezier(.38,1.15,.7,1.12);
    scroll-behavior: smooth;
}
*::selection{
    background:var(--dark-blue) ;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/* Custom Scroll Bar  */
html::-webkit-scrollbar{
    width: 1rem;
  }
  html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 5rem;
  }
section{
    min-height: 100vh;
    padding: 1rem 9%;
    padding-top: 8rem;
}
/* header Section starts */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem;
}
header.sticky{
    background: url('/images/home-bg.jpg') no-repeat;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
}
header .logo{
    font-size: 2.5rem;
    color: var(--dark-blue);
}
header .logo span{
    color: var(--blue);
}
header .navbar a{
    font-size: 1.7rem;
    margin-left: .7rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: var(--dark-blue);
}
header .navbar a.active,
header .navbar a:hover{
    background-color:var(--blue) ;
    color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
}
#menu{
    font-size: 3rem;
    color: var(--dark-blue);
    cursor: pointer;
    display: none;
}
.heading{
    text-align: center;
    color: var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1rem;
}
/* header Section end */

 /* home section Starts */
.home{
     background: url('./images/home-bg.jpg') no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
 }
 .home .content{
     /* text-align: center; */
     padding-top: 7rem;
 }
 .home .content h1{
     font-size: 5rem;
     color: var(--dark-blue);
 }
 .home .content h3{
     font-size: 4rem;
     color: var(--blue);
     font-weight: 500;
 }
 .home .content .btn{
     display: inline-block;
     padding: .7rem 3rem;
     color: #fff;
     font-size: 1.7rem;
     margin-top: 2rem;
     border-radius: .5rem;
     background-color: var(--blue);
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
 }
 .home .content .btn:hover{
     background-color: var(--dark-blue);
 }
 /* home section End */


 /* prevent section Starts */
.prevent .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.prevent .box-container .box{
   flex: 1 1 30rem;
   border-radius: .5rem;
   padding: 1rem;
   margin: 1rem;
   text-align: center;
}
.prevent .box-container .box img{
    height: 12rem;
    padding: 1rem;
}
.prevent .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
}
.prevent .box-container .box p{
    font-size: 1.5rem;
    color: var(--dark-blue);
    padding: 1rem;
}
.prevent .box-container .box:hover{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
}
/* <!-- prevent section end */

/* <!-- symptoms section Starts --> */
.symptoms{
    background: url('./images/background-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.symptoms .column{
    display: flex;
    align-items: center;
    justify-content: center;
}
.symptoms .column .main-image img{
    width: 46vh;
}
.symptoms .column .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.symptoms .column .box-container .box{
    margin: 1rem;
    text-align: center;
}
.symptoms .column .box-container .box img{
    width: 20rem;
    padding: 1rem;
}
.symptoms .column .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
}
/* <!-- symptoms section End --> */

/* <!-- precautions section starts  --> */
.precautions .column{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.precautions .column .box-container{
    margin: 1rem;
    flex: 1 1 50rem;
    border: 1rem solid rgba(0, 0, 0,0.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
    border-radius: .5rem;
}
.precautions .column .box-container .title{
    font-size: 2.5rem;
    padding: 1.5rem .5rem;
    text-align: center;
    color: #fff;
    background: var(--blue);
}
.precautions .column .box-container:last-child .title{
    background: #ff3300;
}
.precautions .column .box-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.precautions .column .box-container .box img{
    width: 15rem;
    padding: 1rem;
}
.precautions .column .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
}
.precautions .column .box-container .box p{
    font-size: 1.2rem;
    color: var(--dark-blue);
    padding: .5rem;
}
/* <!-- precautions section end  --> */

/* <!-- doctor section starts --> */
.doctor{
    background: url('./images/background-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.doctor .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.doctor .box-container .box{
    padding: 1rem;
    margin: 1.5rem;
    background: #fff;
    text-align: center;
    border: 1rem solid rgba(0, 0, 0,0.1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
    border-radius: .5rem;
    width: 34rem;
}
.doctor .box-container .box img{
    margin: 1rem;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    background: var(--blue);
}
.doctor  .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
}
.doctor .box-container .box span{
    font-size: 1.5rem;
    color: var(--dark-blue);
}
.doctor .box-container .box .share{
    border-top: 0.1rem solid rgba(0, 0, 0,0.1);
    padding: .5rem;
    margin-top: 1rem;
}
.doctor .box-container .box .share a{
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    margin: .5rem;
    background: #eee;
    color: var(--blue);
}
.doctor .box-container .box .share a:hover{
    background: var(--blue);
    color: #fff;
    transform: rotate(360deg);
}
/* <!-- doctor section end --> */


/* <!-- hand-wash section start --> */
.hand-wash .column{
    display: flex;
    justify-content: center;
}
.hand-wash .column .main-image img{
    width: 27vw;
}
.hand-wash .column .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.hand-wash .column .box-container .box{
    text-align: center;
    margin: 2rem;
}
.hand-wash .column .box-container .box img{
    width: 17rem;
    height: 17rem;
    padding: 1rem;
}
.hand-wash .column .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
}
/* <!-- hand-wash section end --> */

/* <!-- footer section starts --> */
.footer{
    background: url('./images/background-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}
.footer .box-container .box{
    flex: 1 1 25rem;
    margin:  2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--blue);
    padding: 1rem 0;
}
.footer .box-container .box p{
    font-size: 1.5rem;
    color: var(--dark-blue);
    padding: .5rem 0;
}
.footer .box-container .box a{
    font-size: 1.5rem;
    color: var(--dark-blue);
    padding: .5rem 0;
    display: block;
}
.footer a:hover{
    text-decoration: underline;
}
.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    color: var(--dark-blue);
    text-align: center;
    padding: 2.5rem 1rem;
    border-top: 0.1rem solid rgba(0, 0, 0,0.1);
}
.footer .credit a{
    color: var(--blue);
}
/* <!-- footer section end --> */

.scroll-top{
    position: fixed;
    bottom: 7.4rem;
    right: 1.5rem;
    z-index: 1000;
}
.scroll-top img{
    width: 8rem;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%,100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3rem);
    }
}